{% extends 'base.html' %}
{% load static %}
{% block title%} Blog {% endblock title %}
{% block main %}
<section>
    <div class="container">
        <div class="blog-top">
            <div class="blog-header align-items-center">
                <div class="title">
                    <h1>Blog</h1>
                </div>
                <div class="subtitle">
                    <p>Latest News and Articles<br> featuring Kobby Technologies</p>
                </div>
            </div>
            <div class="input-group mb-3 search-box">
                <input type="text" class="form-control" placeholder="Search Post"
                    aria-label="Search Post" aria-describedby="button-addon2">
                <button type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
    
        </div>
    </div>
</section>
<section>
    <div class="container blog-details">
        <div class="row">
            <div class="col-md-4 my-2 blog-item ">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                 <a href="{% url 'singleblog'%}" class="btn blogbtn">learn more</a>
            </div>
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">Read more</a>
            </div>
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">Read more</a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">Read more</a>
            </div>
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">Read more</a>
            </div>
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">Read more</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">Read more</a>
            </div>
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">ReAd more</a>
            </div>
            <div class="col-md-4 my-2 blog-item">
                <img src="/static/img/blog.png" class="img-fluid" style="border-radius: 5px;">
                <h4 class="my-4">Lorem Ipsum dolor sit amet, consectetur.</h4>
                <a href="{% url 'singleblog'%}"  class="btn blogbtn">REad more</a>
            </div>
        </div>
    </div>
</section>
<div class="video-player" id="videoplayer">
    <div class="overlay"></div>
    <div class="video">
        <video height="" controls id="myvideo"></video>
        <img src="/static/img/close.png" class="close-btn" onclick="stopvideo()" />
    </div>
</div>

<hr class="container">

<script>
    var videoplayer = document.getElementById("videoplayer");
    var myvideo = document.getElementById("myvideo");

    function stopvideo() {
        videoplayer.style.display = "none";
        myvideo.stop();
    }

    function playvideo(file) {
        myvideo.src = file;
        myvideo.play();
        videoplayer.style.display = "grid";
    }
</script>



{% endblock %}