{% extends 'base.html' %} 
{% load static %} 
{% block main %} 
{% include 'navbar.html' %}
<div class="container">
    <div class="row justify-center " >
        <div class="blog-header">
            <h1>Blog</h1>
            <div class="vertical-line"></div>
            <p>Latest News and Articles<br> featuring Kobby Technologies</p>

        </div>
        

    </div>
<div class="row three">
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn blogbtn">learn more</button>

    </div>
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn blogbtn">learn more</button>

    </div>
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4 >Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn blogbtn">learn more</button>

    </div>

</div>

 
<div class="row cloud mt-4">
    <div class=" col-md-3 col">
        <div class="feature-img">
            <img src="/static/img/blog.png" width="100%">
            <div class="overlay"></div>
            <img src="/static/img/playbutton -1.png" class="play-btn" onclick="playvideo('/static/img/man.mp4.mp4')">
        </div>
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
    
    </div>

    <div class=" col-md-3 col">
        <div class="feature-img">
            <img src="/static/img/blog.png" width="100%">
            <div class="overlay"></div>
            <img src="/static/img/playbutton -1.png" class="play-btn" onclick="playvideo('/static/img/man.mp4.mp4')">
        </div>
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
    </div>

    <div class=" col-md-3 col">
        <div class="feature-img">
            <img src="/static/img/blog.png" width="100%">
            <div class="overlay"></div>
            <img src="/static/img/playbutton -1.png" class="play-btn" onclick="playvideo('/static/img/man.mp4.mp4')">
        </div>
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
    </div>
</div>

<div class="row three mt-4">
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn  blogbtn">learn more</button>

    </div>
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn  blogbtn">learn more</button>

    </div>
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4 >Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn  blogbtn">learn more</button>

    </div>

</div>

<div class="row three mt-4">
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn  blogbtn">learn more</button>

    </div>
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4>Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn  blogbtn">learn more</button>

    </div>
    <div class="column">
        <img src="/static/img/blog.png" width="100%;">
        <h4 >Lorem Ipsum dolor sit amet, consectetur.</h4>
        <button type="button" class="btn  blogbtn">learn more</button>

    </div>

</div>
</div>                   
    
                

    



<div class="video-player" id="videoplayer">
    <div class="overlay"></div>
    <div class="video">
      <video width="100%" controls id="myvideo"></video>
      <img
        src="/static/img/close.png"
        class="close-btn"
        onclick="stopvideo()"
      />
    </div>
  </div>
</div>
  <script>
    var videoplayer = document.getElementById("videoplayer");
    var myvideo = document.getElementById("myvideo");

    function stopvideo() {
      videoplayer.style.display = "none";
      myvideo.stop();
    }

    function playvideo(file) {
      myvideo.src = file;
      myvideo.play();
      videoplayer.style.display = "grid";
    }
  </script>



{% endblock %}