
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    background: #000;
}

.test{
    background: yellow;
    margin-top: 2rem;
    border: 2px solid red;
}
#testIMg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}