.btn {
    background: #E64143;
    font-style: text-white;
} 
body{
    color: white;
    background: black;
}
footer .footer{
    color: white;
    background : black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}