{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="hero">
  <div class="overlay"></div>
  <div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
  </div>
  </section>
<h1 class="Services">Our Services</h1>

<div class="container" style="margin-top: 30px;">
  <div class="row" style="row-gap: 16px">
    <div class="col-md-3">
      <div class="card c-card">
        
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title center-title">Microsoft solution</h5>
          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card  c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title center-title">Oracle solution</h5>

          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card  c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title center-title">Technical solution consulting</h5>

          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card  c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title center-title">Outsourced services</h5>
          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
  </div>

  <hr class="axis">


  {% endblock %}
 
</div>