{% extends 'base.html' %} 
{% load static %} 
{% block main %} 
{% include
'navbar.html' %}
<section class="hero">
  <div class="overlay"></div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
  </div>
</section>
<h1>our services</h1>
<!--cards-->
<div class="container">
  <div class="row" style="row-gap: 16px">
    <div class="col-6 col-lg-3 col-md-4 col-sm-9">
      <div class="card">
        <!--icon-->
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title">Microsoft solution</h5>
          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 col-md-4 col-sm-9">
      <div class="card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title">Oracle solution</h5>

          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 col-md-4 col-sm-9">
      <div class="card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title">Technical solution consulting</h5>

          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 col-md-4 col-sm-9">
      <div class="card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h5 class="card-title">Outsourced services</h5>
          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
    <hr />
  </div>

  {% endblock %}
  <!--index.html-->
</div>
