{% extends 'base.html' %} {% load static %} {% block main %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h4 class="card-title center-title">Microsoft solution</h4>

          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h4 class="card-title center-title">Oracle solution</h4>

          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h4 class="card-title center-title">Technical solution consulting</h4>

          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card c-card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h4 class="card-title center-title">Outsourced services</h4>

          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </div>
  </div>

  <!--line break and microsoft content-->

  <div class="row" style="margin-top: 100px">
    <div class="col-md-4 count">
      <hr />
      <h4>What this entails</h4>
    </div>
    <div class="col-md-8 count">
      <h5>Microsoft Solution Consulting</h5>
      <p>
        As a trusted Microsoft gold partner, we offer complete and integrated
        solutions in all levels<br />
        of a business be it small, medium, or large. Our end-to-end Microsoft
        solutions include licensing, implementation, support,<br />
        training, and project management. From our cross functional team which
        has certified experts that <br />
        create a unique blend of technical expertise, project experience and
        business knowledge result to real time value.
      </p>
    </div>
  </div>
  <div class="values mt-5">
    <div class="heading text-center ">
      <h1>values we offer in our busines</h1>
    </div>
    <div class="row">
      <!--vector  SECTION--->
      <div class="vector">
        <img src="/static/img/badge-1.png" />
        <h6>badge</h6>
      </div>

      <div class="vector">
        <img src="/static/img/Vector (2).png" />
        <h6>implementation</h6>
      </div>
      <div class="vector">
        <img src="/static/img/support-1.png" />
        <h6>support</h6>
      </div>
      <div class="vector">
        <img src="/static/img/teaching-1.png" />
        <h6>training</h6>
      </div>
      <div class="vector">
        <img src="/static/img/project-1.png" />
        <h6>project management</h6>
      </div>

    </div>
  </div>
</div>

<section class="coco">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="experiences">
          <h5>Experiences</h5>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png" />
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png" />
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png" />
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <!--forms(contact) get in here change on this--->
  <div class="client">
    <h5>what our client say about us</h5>
    <p>
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
      ultrices orci adipiscing non a nec. Id etiam purus sed scelerisque lectus
      eu etc.”
    </p>

    <p>.John Doe</p>
  </div>
  <div class="Discovery">
    <h5>Request for discovery session</h5>
    <p>Interested in services we offer? Lets get intouch</p>
  </div>

  <!---form- mt- margin top-->
  <div class="container cont-form mt-5">
    <form class="row g-3 d-flex justify-content-between align-items-center">
      <div class="floating-group col-md-5 mt-5">
        <input type="text" class="form-control floating-input" id="floatingInput" placeholder="Your name" />
      </div>
      <div class="floating-group col-md-5 mt-5">
        <input type="email" class="form-control floating-input" id="floatingInput" placeholder="email address" />
      </div>
      <div class="floating-group col-md-5 mt-5">
        <input type="number" class="form-control floating-input" id="floatingInput" placeholder="phone number" />
      </div>
      <div class="floating-group col-md-5 mt-5">
        <input type="text" class="form-control floating-input" id="floatingInput" placeholder="company" />
      </div>

      <div class="col-12 d-flex justify-content-center align-items-center mt-3">
        <button type="submit" class="btn formbtn">Request Session</button>
      </div>
    </form>
  </div>

  <hr class="axis" />

  {% endblock %}
</div>