{% extends 'base.html' %}
{% load static %}
{% block main %}
{% include 'navbar.html' %}
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src="/static/img/solution-1.png" />
        <h5 class="card-title">Microsoft solution</h5>
        
        <a href="#" class="btn btn-primary">learn more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src="/static/img/solution-1.png">
        <h5 class="card-title">Oracle solution</h5>
        
        <a href="#" class="btn btn-primary">learn more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="/static/img/solution-1.png">
          <h4 class="card-title">Technical solution consulting</h4>
          
          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="/static/img/solution-1.png" />
          <h4 class="card-title">Outsourced services</h4>
          
          <a href="#" class="btn btn-primary">learn more</a>
        </div>
      </div>
    </div>
</div>


  <!--line break and microsoft content-->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="count">
          <hr>
        <h4>microsoft solution</h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="count">
          <h4>microsoft solution</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore minus dignissimos minima doloremque dolor veritatis, blanditiis quaerat iste, culpa molestias dolore suscipit aut, debitis ducimus necessitatibus commodi fugit nesciunt velit.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1> values we offer in our busines</h1> <!--center the text-->
   <!--vector  SECTION--->
    <div class="col-6 col-md-2">
      <div class="vector">
        <img src="/static/img/badge-1.png">
        <h6>badge</h6>
      </div>
    </div>
    <!--horizontal line-->
    <div class="col-6 col-md-1">
      <div class="vector">
        <div class="col-md-1">
          <div class="vertical-line">

          </div>
      </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="vector">
        <img src="/static/img/Vector (2).png">
        <h6>implementation</h6>
      </div>
    </div>
    <!--horizontal line-->
    <div class="col-6 col-md-1">
      <div class="vector">
        <div class="col-md-3">
          <div class="vertical-line">

          </div>
      </div>
      </div>
    </div>
    
    <div class="col-6 col-md-1">
      <div class="vector">
        <img src="/static/img/support-1.png">
        <h6>support</h6>
      </div>
    </div>
    <!--horizontal line-->
    <div class="col-6 col-md-1">
      <div class="vector">
        <div class="col-md-2">
          <div class="vertical-line">

          </div>
      </div>
      </div>
    </div>

    <div class="col-6 col-md-1">
      <div class="vector">
        <img src="/static/img/teaching-1.png">
        <h6>training</h6>
      </div>
    </div>
    <!--horizontal line-->
    <div class="col-6 col-md-1">
      <div class="vector">
        <div class="col-md-2">
          <div class="vertical-line">

          </div>
      </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="vector">
        <img src="/static/img/project-1.png">
        <h6>project management</h6>
      </div>
    </div>
    <!--horizontal line-->

  </div>


    
<section class="coco mt-5 justify-content-center">
  <div class="container">
    <div class="row">
      
        <h5>Experiences</h5>
      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png">
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png">
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png">
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="white">
          <img src="/static/img/2.png">
        </div>
      </div>
      
      
    </div>
  </div>

</section>

<!--forms(contact) get in here change on this--->
<div class="client">
  <h5>what our client say about us</h5>
  <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu etc.”</p>

    <p>John Doe</p>
</div>
<div class="Discovery">
  <h5>Request for discovery session</h5>
  <p>Interested in services we offer? Lets get intouch</p>
</div>



<!---form- mt- margin top-->
<div class="container cont-form mt-5" >
  

<form class="row g-3 d-flex justify-content-between align-items-center">
  <div class="floating-group col-md-5 mt-5">
    <input type="text" class="form-control floating-input" id="floatingInput" placeholder="Your name">
  </div>
  <div class="floating-group col-md-5 mt-5">
    <input type="email" class="form-control floating-input" id="floatingInput" placeholder="email address">
  </div>
  <div class="floating-group col-md-5 mt-5">
    <input type="number" class="form-control floating-input" id="floatingInput" placeholder="phone number">
  </div>
  <div class="floating-group col-md-5 mt-5">
    <input type="text" class="form-control floating-input" id="floatingInput" placeholder="company">
  </div>
   
  <div class="col-12 d-flex justify-content-center align-items-center mt-3 ">
    <button type="submit" class="btn formbtn">request session</button>
  </div>
</form>
</div>









<hr>

{% endblock %}