{% extends 'base.html' %}
{% load static %}
{% block main %}
{% include 'navbar.html' %}
<section class="about1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-start">
                    <h3>
                        About us
                    </h3>
                    <div class="my-3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci
                            adipiscing
                            non a nec. Id etiam purus sed scelerisque lectus eu et. Adipiscing ultricies nullam
                            dignissim
                            eu. Nulla orci lorem in dignissim at risus. Egestas vivamus lacinia quis diam elementum.
                            Orci
                            sagittis senectus blandit et leo varius. Amet pretium interdum purus porttitor elit egestas
                            quisque sagittis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    <img src="../../static/img/about/about us 1.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}