{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="about1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-start">
                    <h3>
                        About us
                    </h3>
                    <div class="my-3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci
                            adipiscing
                            non a nec. Id etiam purus sed scelerisque lectus eu et. Adipiscing ultricies nullam
                            dignissim
                            eu. Nulla orci lorem in dignissim at risus. Egestas vivamus lacinia quis diam elementum.
                            Orci
                            sagittis senectus blandit et leo varius. Amet pretium interdum purus porttitor elit egestas
                            quisque sagittis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    <img src="../../static/img/about/about us 1.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about2">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-left: auto !important; margin-right: auto !important;display: block;">
                <div class="card about-card" style="  margin-left: 2rem;">
                    <div class="aboutCardHeader mx-auto text-center">
                        <h4>
                            Mission
                        </h4>
                    </div>
                    <div class="aboutcard-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci
                            adipiscing non a nec.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about-card">
                    <div class="aboutCardHeader mx-auto text-center">
                        <h4>
                            Vision
                        </h4>
                    </div>
                    <div class="aboutcard-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci
                            adipiscing non a nec.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about-card" style="margin-left: -2rem;">
                    <div class="aboutCardHeader mx-auto text-center">
                        <h4>
                            Values
                        </h4>
                    </div>
                    <div class="aboutcard-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci
                            adipiscing non a nec.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="structure">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header mx-auto text-center">
                    <h3>
                        Our Organization Structure
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        A netus platea ultrices orci adipiscing
                        non a nec. Id etiam purus sed scelerisque lectus eu et.
                        Adipiscing ultricies nullam dignissim
                        eu.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sec-structure mx-auto text-center">
                    <h4>
                        Board of Directors
                    </h4>
                    <div class="board">
                        <div class="row">
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                    <div class="vl"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                    <div class="vl"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                    <div class="vl"></div>
                                </div>
                            </div>
                            <hr
                                style="width: 66.5%;text-align:center;margin-right:6rem; margin-left:189px;border-width:3px;height:3px;color:#E64143;background:#E64143;opacity:1;margin-top: 97px;">
                        </div>
                        <div class="row">
                            <div class="col-md-4 mx-auto text-center">
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <div class="vl" style="margin-top:-1rem !important;"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mx-auto text-center">

                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile" style="margin-top:-1rem !important;">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mx-auto text-center">

                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <div class="vl" style="margin-top:-.3rem !important;"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">

                            </div>
                            <hr
                                style="width: 66.5%;text-align:center;margin-right:6rem; margin-left:189px;border-width:3px;height:3px;color:#E64143;background:#E64143;opacity:1;margin-top: -5px;">
                        </div>
                        <div class="row">
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <div class="vl" style="margin-top:-1.2rem !important;"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <div class="vl" style="margin-top:-1.2rem !important;"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile">
                                    <div class="vl" style="margin-top:-1.2rem !important;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile" style="margin-top:-1.2rem !important;">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile" style="margin-top:-1.2rem !important;">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto text-center">
                                <div class="profile" style="margin-top:-1.2rem !important;">
                                    <img src="../../static/img/about/team/Ellipse 56.png" class="img-fluid" alt=""
                                        srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="structure">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header mx-auto text-center">
                    <h3>
                        The Life of a Kobby Employee
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="quote-carousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators mx-auto text-center">

                    <li data-bs-target="#quote-carousel" data-bs-slide-to="1" aria-label="Slide 2">
                        <img class="img-fluid " src="../../static/img/about/team/Ellipse 56.png" alt="">
                    </li>
                    <li data-bs-target="#quote-carousel" data-bs-slide-to="2" aria-label="Slide 3" class="mx-5">
                        <img class="img-fluid " src="../../static/img/about/team/Ellipse 56.png" alt="">
                    </li>
                    <li data-bs-target="#quote-carousel" data-bs-slide-to="0" class="active">
                        <img class="img-fluid " src="../../static/img/about/team/Ellipse 56.png" alt="">
                    </li>
                    <li data-bs-target="#quote-carousel" data-bs-slide-to="4" aria-label="Slide 4" class="mx-5">
                        <img class="img-fluid " src="../../static/img/about/team/Ellipse 56.png" alt="">
                    </li>
                    <li data-bs-target="#quote-carousel" data-bs-slide-to="5" aria-label="Slide 5">
                        <img class="img-fluid " src="../../static/img/about/team/Ellipse 56.png" alt="">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <blockquote>
                            <div class="row">
                                <div class=" col-md-12 mx-auto text-center mx-5">

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
                                        ultrices
                                        orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu et.
                                        Adipiscing ultricies nullam dignissim eu. Nulla orci lorem in dignissim at
                                        risus.
                                    </p>

                                </div>
                                <small class="names mt-5">John Doe</small>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class=" col-md-12 mx-auto text-center mx-5">

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
                                        ultrices
                                        orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu et.
                                        Adipiscing ultricies nullam dignissim eu. Nulla orci lorem in dignissim at
                                        risus.
                                    </p>

                                </div>
                                <small class="names  mt-5">John Doe</small>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class=" col-md-12 mx-auto text-center mx-5">

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
                                        ultrices
                                        orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu et.
                                        Adipiscing ultricies nullam dignissim eu. Nulla orci lorem in dignissim at
                                        risus.
                                    </p>

                                </div>
                                <small class="names  mt-5">John Doe</small>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class=" col-md-12 mx-auto text-center mx-5">

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
                                        ultrices
                                        orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu et.
                                        Adipiscing ultricies nullam dignissim eu. Nulla orci lorem in dignissim at
                                        risus.
                                    </p>

                                </div>
                                <small class="names  mt-5">John Doe</small>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class=" col-md-12 mx-auto text-center mx-5">

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
                                        ultrices
                                        orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu et.
                                        Adipiscing ultricies nullam dignissim eu. Nulla orci lorem in dignissim at
                                        risus.
                                    </p>

                                </div>
                                <small class="names  mt-5">John Doe</small>
                            </div>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote>
                            <div class="row">
                                <div class=" col-md-12 mx-auto text-center mx-5">

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea
                                        ultrices
                                        orci adipiscing non a nec. Id etiam purus sed scelerisque lectus eu et.
                                        Adipiscing ultricies nullam dignissim eu. Nulla orci lorem in dignissim at
                                        risus. last
                                    </p>

                                </div>
                                <small class="names">John
                                    Doe</small>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#quote-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#quote-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->
            </div>
        </div>
</section>
<section class="structure">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3>
                        Kobby’s Governance
                    </h3>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="Governance">
                                <ul>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        A netus platea ultrices orci adipiscing
                                        non a nec.
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        A netus platea ultrices orci adipiscing
                                        non a nec.
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        A netus platea ultrices orci adipiscing
                                        non a nec.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="structure">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <div class="section-header mx-auto text-center">
                    <h3>
                        Join our team
                    </h3>
                    <p>
                        Check out our open positions
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team">
                    <h5>
                        Software Developer
                    </h5>
                    <p>
                        Nairobi, Kenya <span>|</span> Full-time
                    </p>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn teamBtn">Apply Now</button>
                </div>
            </div>
        </div>
        <hr
            style="width: 100%;text-align:center;border-width:1px;height:1px;background:#FFFFFF;opacity:1;margin-top:0px; margin-bottom: 25px;">
        <div class="row">
            <div class="col-md-4">
                <div class="team">
                    <h5>
                        Software Developer
                    </h5>
                    <p>
                        Nairobi, Kenya <span>|</span> Full-time
                    </p>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn teamBtn">Apply Now</button>
                </div>
            </div>
        </div>
</section>
<section class="share">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-8">
                <div class="section-share">
                    <h5>
                        Don’t see what you are looking for?
                    </h5>
                    <p>
                        Submit your CV here and we’ll be sure to contact you if anything suitable becomes available.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end cBtn">
                    <button class="btn">Share your CV</button>
                </div>
            </div>
        </div>

</section>
{% endblock %}