{% extends 'base.html' %}
{% load static %}
{% block title %}KTL - Sigle Solution {% endblock title %}
{% block main %}

<section class="sl-landing inline">
    <div class="sl-title-single">
        <h1>Electronic Documents <br> Management System (EDMS)</h1>
    </div>
</section>

<section class="sl-single-items">
    <div class=" container text-center">
        <h1>The Brief</h1>
        <p>At Kobby technologies we offer this solution through standardizing your information
            <br> management practices between department such that there is a seamless flow of information
            <br> across the organization. We also implement EDMS software to support your digital
            <br>transformation projects.
        </p>
        <div class="sl-product">
            <h4 class="sl-products-title">Products</h4>
            <div class="sl-product-list">
                <div class=" row justify-content-center">
                    <div class="col-4">
                        <p> 
                            <i class=" la la-square"></i>
                            Microsoft Office 365
                        </p>
                    </div>
                    <div class="col-4">
                        <p> 
                            <i class=" la la-square"></i>
                            Oracle Webcenter
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" sl-products text-center">
    <div class="container">
        <h4 class="sl-patners-title">Patners</h4>
        <div class="row justify-content-center">
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
        </div>
    </div>



    <div class="container">
        <h4 class="sl-patners-title">Experience</h4>
        <div class="row justify-content-center">
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-2">
                <img src="{% static 'img/sl-3.jpg' %}" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

</section>

<section class="sl-single-items">
    <div class=" container text-center">
        <h1>What Our Clients Say About Us</h1>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. A netus platea ultrices orci adipiscing non a nec.
            Id etiam purus sed scelerisque lectus eu et.”
            <br><br>
            <em> <i class=" la la-square"></i>    
                 John Doe
            </em>
        </p>

    </div>
</section>
<hr>
{% endblock main %}