{% extends 'base.html' %}
{% load static %}
{% block main %}
{% include 'navbar.html' %}
  <div class="container" style="background-color: #000000;">
    <p style="color: white;font-weight: 700;font-size: 32px;font-family: nunito;margin-left: 40px">Hello, let’s get intouch</p>
  <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">
    <div class="col-md-6">
      <input
      type="email"
      class="form-control floating-input"
      id="floatingInput"
      placeholder="Your Name"
      style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      font-weight: 400px;
      font-size: 18px;
      font-family: nunito;
      border-bottom: 2px solid white;
      outline: none;
      box-shadow: none;
      margin-bottom: 40px;
      margin-left: 40px"
    />
  </div>
    <div class="col-md-6">
      <input
        type="email"
        class="form-control floating-input"
        id="floatingInput"
        placeholder="Your Email address"
        style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      box-shadow: none;
      font-weight: 400px;
      font-size: 18px;
      font-family: nunito;
      margin-bottom: 40px;
      margin-left: 40px"
      />
    </div>
    <div class="col-md-6">
      <input
      type="text"
      class="form-control floating-input"
      id="floatingInput"
      placeholder="Phone Number"
      style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      box-shadow: none;
      font-weight: 400px;
      font-size: 18px;
      font-family: nunito;
      margin-bottom: 40px;
      margin-left: 40px"
    />
  </div>
  <div class="">
    <div class="col-md-6">
      <input
      type="text"
      class="form-control floating-input"
      id="floatingInput"
      placeholder="Message"
      style="color: white;
      background-color: rgb(13, 13, 13);
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      box-shadow: none;
      font-weight: 400px;
      font-size: 18px;
      font-family: nunito;
      margin-bottom: 40px;
      margin-left: 40px;"
    />
  </div>
</div>
</div>
</form>
<div class="align-center">
  <a href="#" class="btn btn-danger btn-learn" type="button">Submit</a>
</div>
</div>
</div>
<div class="container">
  <div class="col-md-6">
    <div class="card-contact bg-light">  
    <h4><b>Talk to Us</b></h4>
    <p>+254 724 856614</p>
    <p>info@kobby.co.ke</p>
    <h4><b>Visit Us </b></h4>
    <p>The Mirage , 5th Floor - Suite 4 Westlands</p>
    </div>
  </div>
</div>
</contact>
  {% include 'footer.html' %}
  {% endblock %}