<!--<footer>


<div class="container">
  <div class="row">
    <div class="col-6 col-md-3">
      <img src="/static/img/2.png" class="img-fluid" alt="" srcset="" />
    </div>
    <div class="col-6 col-md-3">
      <div class="count">
        <h4>address</h4>
        <p>P.O.BOX 5824-00200</p>
        <h4>Nairobi.Kenya</h4>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="count">
        <h4>contact us</h4>
        <p>+245789123455</p>
        <p>info@kobby.co.ke</p>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="count">
        <h4>navigate</h4>
        <p>home</p>
        <p>services</p>
        <p>about us</p>
        <p>contact us</p>
      </div>
    </div>
  </div>
</div>
</footer>-->

<!--<div class="footer-vertical">
  <hr>
  <img src="/static/img/facebook-1.png">
  <img src="/static/img/twitter-1.png">
  <img src="/static/img/linked-in.png">

</div>-->



