
{% extends 'base.html'%} 
{% load static %}
{% block main %}
<div class="container">
  <hr>
  <div class="row">
    <div class="footer col-md-2">
      <img src="../../static/img/KTL SVG-01 (1) 3.png" class="img-fluid" alt=""></a>
    </div>
    <div class="footer col-md-2">
      <h4>Contact info</h4>
      <p>+254711111111</p>
      <p> info@kobby.co.ke</p>
    </div>
    <div class="footer col-md-2">
      <h4>Address</h4>
      <p>P.O Box 5824-00200</p>
      <p>Nairobi, Kenya</p>
    </div>
    <div class="footer col-md-2">
      <h4>Location</h4>
      <p>The Mirage, 5th Floor -</p>
      <p>Suite 4 Westlands</p>
    </div>
    <div class="footer-info">
      <div class="header">
        <h1>Navigate </h1>
      </div>
      <div class="footer-content">
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="{% url 'service' %}"> Our Services</a></li>
          <li><a href="{% url 'about' %}"> About Us</a></li>
          <li><a href="{% url 'csr' %}"> Our Library</a></li>
          <li><a href="{% url 'contacts' %}"> Contact us</a></li>
        </ul>
      </div>
    </div>


  </div>

  <hr class="container">

  <div class="footer-middle text-center">
    <div class="mb-3 social-icons">
      <span><i class="fa-brands fa-facebook-square"></i></span>
      <span><i class="fa-brands fa-twitter-square"></i></span>
      <span><i class="fa-brands fa-linkedin"></i></i></span>

    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-1">
      <div class="icon">
        <img src="../../static/img/Vector (2).png" alt="">
      </div>
    </div>
    <div class="col-1">
      <div class="icon">
        <img src="../../static/img/Vector (4).png" alt="">
      </div>
    </div>
    <div class="col-1">
      <div class="icon">
        <img src="../../static/img/Vector (1).png" alt="">
      </div>
    </div>
    <div class="text-center">
      <p>Copyright @ 2022 Kobby Technologies Limited. All Rights Reserved.</p>
    </div>
  </div>
</div>
{%endblock%}
