{% extends 'base.html' %}
{% load static %}
{% block main %}
{% include 'navbar.html' %}

<div class="container" style="background-color: black;">
  <div class="row" style="background-color: black;">
  <div class="col-sm-6">
    <p class="text-white" style="font-weight: 700;margin-top: 40px;font-size: 24px;font-family: nunito;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor viverra tellus nunc.</p><br>
    <p class="text-white" style="font-size: 18px;font-family: nunito;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Turpis gravida ipsum sit semper ornare morbi non feugiat.</p>
    <div class="button">
      <a href="#" class="btn" role="button" style="background-color: #E64143;color: white;margin-left: 40px;font-family: nunito;" text-white>Learn More</a>
    </div>
  </div>
  <div class="col-sm-6">
    <img src="../../static/img/hero img 1.png" class="img-fluid" style="margin-bottom: 60px;margin-top: 40px;" alt="">
  </div>
  </div>
</div>
<div class="container">
  <div class="row"  style="background-color: black;color: white;" >
    <div class="col-12">
      <p class="text-center" style="font-weight: 700;font-size: 24px;font-family: nunito;"> 50+  |  50+  | 50+</p>
      <p class="text-center" style="font-weight: 400;font-size: 20px;font-family: nunito;">CLIENTS  |  SOLUTIONS  |  CLIENTS</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="background-color: black;margin-bottom: 40px;">
    <p class="text-center" style="font-weight: 700;size: 40px;color: white;margin-top: 40px;margin-bottom: 50px; font-size: 30px;font-family: nunito;">Our Selected Solutions</p>
    <div class="col-sm-4">
      <img src="../../static/img/pexels-hasan-albari-1229861 2.png" style="height: 300px; width: 400px;;margin-bottom: 150px;" alt="">
      <!-- <p class="overlay-text" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing.</p> -->
    </div>
    <div class="col-sm-4">
      <img src="../../static/img/pexels-hasan-albari-1229861 2.png" style="height: 300px; width: 400px;" alt="">
      <!-- <p class="text-justified" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing.</p> -->
    </div>
    <div class="col-sm-4">
      <img src="../../static/img/pexels-hasan-albari-1229861 2.png" style="height: 300px; width: 400px;" alt="">
      <!-- <p class="text-justified" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing.</p> -->
    </div>
  </div>
</div>
<div class="container">
<div class="frame">
  <p class="text-center" style="font-weight: 700;size: 40px;margin-top: 40px;font-size: 30px;font-family: nunito;">Client Portfolio</p>
  <p class="text-center" style="font-size: 18px;font-family: nunito;">Below are the clients we have worked with</p>
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
  <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="" style="margin-bottom: 40px;margin-left: 40px;">
</div>
</div>
<div class="container">
<div class="row" style="background-color: black;">
  <p class="text-center" style="font-weight: 700;size: 40px;color: white;margin-top: 40px;font-size: 30px;font-family: nunito;">Here's what we've been upto</p>
  <div class="col-sm-3" style="margin-top: 40px;">
  <img src="../../static/img/pexels-julia-m-cameron-4144179 4.png" alt="">
  <p class="text-justified" style="color: white;font-family: nunito;">Lorem Ipsum dolor sit amet, consectetur.</p>
  <a href="#" class="btn" role="button" style="background-color: black;color: #E64143;border-color: #E64143;margin-left: 40px;font-family: nunito;">Read More</a>
  </div>
  <div class="col-sm-3" style="margin-top: 40px;">
    <img src="../../static/img/pexels-julia-m-cameron-4144179 4.png" alt="">
    <p class="text-justified" style="color: white;font-family: nunito;">Lorem Ipsum dolor sit amet, consectetur.</p>
    <a href="#" class="btn" role="button" style="background-color: black;color: #E64143;border-color: #E64143;font-family: nunito;">Read More</a>
    </div>
    <div class="col-sm-3" style="margin-top: 40px;"> 
      <img src="../../static/img/pexels-julia-m-cameron-4144179 4.png" alt="">
      <p class="text-justified" style="color: white;font-family: nunito;">Lorem Ipsum dolor sit amet, consectetur.</p>
      <a href="#" class="btn" role="button" style="background-color: black;color: #E64143;border-color: #E64143;font-family: nunito;">Read More</a>
    </div>
    <div class="col-sm-3" style="margin-top: 40px;">
      <img src="../../static/img/pexels-julia-m-cameron-4144179 4.png" alt="">
      <p class="text-justified" style="color: white;font-family: nunito;">Lorem Ipsum dolor sit amet, consectetur.</p>
      <a href="#" class="btn" role="button" style="background-color: black;color: #E64143;border-color: #E64143;margin-bottom: 40px;font-family: nunito;">Read More</a>
    </div> 
</div>
</div>
<div class="container">
<div class="row">
  <p class="text-center" style="font-weight: 700;margin-top: 40px;font-size: 30px;font-family: nunito;">Partnerships</p>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;margin-left: 105px;font-family: nunito;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;margin-left: 105px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;margin-left: 105px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;">
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
  <div class="col-sm-2" style="align-items: center;margin-top: 40px;margin-bottom: 40px;"> 
    <img src="../../static/img/KTL Logo Transparent Background (1) 13.png" alt="">
  </div>
</div>
<div class="mx-auto" style="align-items: center;width: 250px;height: 60px;margin-top: 40px;">
  <div class="align-center">
    <a href="#" class="btn" role="button" style="background-color: #E64143;color: white;font-family: nunito;width: 250px;height: 60px;align-content: center;">Partner with us</a>
  </div>
</div>
<div class="" style="background-color: black;">
  <p class="text-center" style="font-weight: 700;size: 40px;color: white;font-size: 30px;margin-top: 40px;font-family: nunito;">Request for a discovery session</p>
  <p class="text-center" style="color:white;font-family: nunito;">Interested in services we offer? Let's get intouch</p>
<div class="container cont-form mt-5">
  <form class="row g-3 d-flex justify-content-between align-items-center">
    <div class="floating-group col-md-5 mt-5">
      <input type="text" class="form-control floating-input" id="floatingInput" placeholder="Your name" 
      style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      font-family: nunito;
      box-shadow: none;"/>
    </div>
    <div class="floating-group col-md-5 mt-5">
      <input
        type="email"
        class="form-control floating-input"
        id="floatingInput"
        placeholder="email address"
        style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      font-family: nunito;
      box-shadow: none;"
      />
    </div>
    <div class="floating-group col-md-5 mt-5">
      <input
        type="number"
        class="form-control floating-input"
        id="floatingInput"
        placeholder="phone number"
        style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      font-family: nunito;
      box-shadow: none;"
      />
    </div>
    <div class="floating-group col-md-5 mt-5">
      <input
        type="text"
        class="form-control floating-input"
        id="floatingInput"
        placeholder="company"
        style="color: white;
      background-color: rgb(13, 13, 13) !important;
      border: 0px;
      border-bottom: 2px solid white;
      outline: none;
      font-family: nunito;
      box-shadow: none;"
      />
    </div>
    <div class="text-center">
      <a href="#" class="btn" role="button" style="background-color: #E64143;color: white;border-color: #E64143;margin-bottom: 40px;font-family: nunito;width: 250px;height: 60px;margin-top: 40px;">Request Session</a>
    </div>
  </div> 
  </form>
</div>
{% include 'footer.html' %}
{% endblock %}

