{% load static %}
{% block main %}
<header id="header" class="fixed-top header-transparent">
  <div class="container">
    <div class="logo float-right">
      <h1 class="text-light logo-text"><a href="#"><span>KTL</span></a></h1>
      <div class="logo-brand">
        <img src="../../static/img/logo/2.png" class="img-responsive" alt="" srcset="">
      </div>
    </div>
    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <!-- <li class="active"><a href="index.html"></a></li> -->
        <li class="drop-down"><a href="">Services and Solutions</a>
          <ul>
            <li><a href="#">Enterprise Applications</a></li>
            <li><a href="#">Data Centre</a></li>
            <li><a href="#">Enterprise Security</a></li>
            <li><a href="#">Office Automation</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Our Library</a>
          <ul>
            <li class="drop-down"><a href="#">Case Studies</a>
              <ul>
                <li><a href="#">Success Stories</a></li>
              </ul>
            </li>
            <li><a href="#">Events & Webinars</a></li>
            <li><a href="#">CSR</a></li>
            <li><a href="#">Gallery</a></li>
          </ul>
        </li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
{%endblock%}